name: Build and Release Image
on:
  push:
    branches:
      - main
    tags:
      - "**"
  pull_request:
    branches:
      - main
  schedule:
    - cron: 0 5 * * *
  workflow_dispatch:
    inputs:
      suffix:
        description: Custom suffix for tag
        required: false
  repository_dispatch:
jobs:
  build-ffmpeg:
    uses: ibm-skills-network/.github/.github/workflows/release.yml@main
    with:
      image: icr.io/skills-network/media/ffmpeg
      docker_file: utils/ffmpeg/Dockerfile
      docker_context: .
      docker_target: release
    secrets: inherit

  build-app:
    needs: build-ffmpeg
    uses: ibm-skills-network/.github/.github/workflows/release.yml@main
    with:
      image: icr.io/skills-network/media
      docker_file: utils/Dockerfile
      docker_context: .
      docker_target: release
    secrets: inherit
